<html>
<head>
<title>Project 381 - Powered by Chan Pui Yu & Fu Chi Hang</title>
</head>
<body>
	<h1>Restaurants</h1>
	<form action="/login" method="post">
		Username: <input type="text" name="name" value="<%= username%>"><br>
		Password: <input type="password" name="password" value="<%= pw%>"><br>
	<input type="submit" value="Login">
	</form>
</body>
</html>
