<html>
<head>
  <title>Restaurant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<header class="w3-container w3-teal">
  <h1><%=c.name%></h1>
  <% if (c.photo != null) { %>
<img src="data:<%= c.mimetype %>;base64,<%= c.photo %>">
<% } %>
</header>
<div class="w3-container">
<ol>
Borough: <%=c.borough%><p>

<ol
</div>
<br>
<div class="w3-container">
  <ul class="w3-ul w3-large">
  </ul>
</div>
<p>
</body>
</html>
